@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: content-box;
}

body {
    background-color: #1a1a1a;
    counter-reset: heading;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-between;
}

#nav {
    display: flex;
    height: 300px;
}

#nav ul#nav_list {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 10px 1px white;
    border-radius: 8px;
    padding: 20px 24px;
    background-color: #0f0f0f;
    font-family: "Poppins";
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

#nav ul#nav_list li {
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
    border-radius: 5px;
    margin-top: 10px;
}

#nav ul#nav_list li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
}

ul#nav_list li:hover {
    background-color: #3d3d3d;
    color: #0f0f0f;
}

#main_container {
    width: 90%;
    box-shadow: 0px 0px 10px 1px white;
    border-radius: 8px;
    padding: 20px 24px;
    background-color: #0f0f0f;
    font-family: "Poppins";
    height: 600px;
    overflow: auto;
    margin: 0 auto;
}

#profile_picture {
    border-radius: 50%;
}

#username {
    background: -webkit-linear-gradient(left, #f30000 20%, #f36100 40%, #f36100 60%, #f30000 80%);
    background: linear-gradient(90deg, #f30000 20%, #f36100 40%, #f36100 60%, #f30000 80%);
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation: shine 2s linear infinite;
    animation: shine 2s linear infinite;
    font-size: 68px;
    margin: 0px;
}

@keyframes shine {
    to {
        background-position: 200%
    }
}

h2 {
    color: aliceblue;
    font-size: 45px;
    width: 100%;
    float: left;
    text-align: left;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #3d3d3d;
}

h2::before {
    counter-increment: heading;
    content: counter(heading) ". ";
}

p {
    color: white;
    text-align: left;
    font-size: 22px;
}

#nav {
    display: sticky;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 18px;
}

::-webkit-scrollbar-thumb {
    border-radius: 18px;
    background: #3d3d3d;
}

.center {
    text-align: center;
}

.list {
    color: white;
    margin: 0;
}

details, details summary {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    float: left;
}

h3 {
    color: #f0eeee;
    width: 100%!important;
}

._logo_ {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

p.link_ a {
    color: rgb(6, 143, 255);
    text-decoration: none;
}

#youtube {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 100%;
        width: 100%;
    }
    #main_container {
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 80px;
        width:80%;
    }
    #nav {
        width: 100%;
    }
    #nav ul#nav_list {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
        height: 250px;
    }
    .card_container, .card_container img {
        width: 100%!important;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    * {
        width: 100%;
        overflow-x: hidden;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}